<!DOCTYPE html>
<html>
  <head>
    <title>some haiku inspiration.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>some haiku inspiration. </h1>
  	<br/>
    <p><%= haiku[1] %></p>
    <p><%= haiku[2] %></p>
    <p><%= haiku[3] %></p>
  </body>
</html>
